a,a:LINK,a:ACTIVE,a:VISITED {
    color: #FFFFFF;
    text-decoration: none;
}

a:HOVER: {
    color:#ffffff;
}

body {
    margin: 0px;
    padding: 0px;
    cursor: default;
}

.mainmenu {
    background-color: #0070ff;
    color: #fff;
    padding: 7px;
    vertical-align: center;
    position: relative;
}

.menuitems {
    font-size: 25px;
    position: absolute;
    vertical-align: center;
    top: 25%;
    padding-left: 10px;
}

.menuitem {
    transition-property: color;
    transition-duration: 0.5s;
    padding: 3px;
    color: inherit;
}

.menuitem:HOVER {
    transition-property: color;
    transition-duration: .5s;
    color: #E6E6E6;
}

.ui .card {
    min-height: 100%;
}

.notifs {
    position: fixed;
    top: 1em;
    right: 1em;
}

.notif {
    background-color: #E8E8E8;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}