<div class="ui page grid" ng-show="entries == undefined">
  <div class="sixteen wide column">
    <div class="ui segment">
      <h1>Slow down there!</h1>
      <p>You were too fast for us to find your data. <span style="color: blue; cursor: pointer" onclick="window.location.reload()">Why don't you try again?</span></p>
    </div>
  </div>
</div>
<div class="ui page grid" ng-show="entries != undefined">
  <div class="sixteen wide column">
    <div class="ui segment">
      <h1 class="ui header">
        {{ template.title }}
        <div class="sub header">{{ event.name }} - {{ event.scoutingteam }}</div>
        <div class="sub header" ng-init="console.log('hi')">Event Key: {{ event.eventkey }}</div>
      </h1>
      <p>{{ template.description }}</p>
      <h4 ng-if="entries.length == 0">You will be able to review data here once you have saved at least 1 entry.</h4>
      <button class="ui left labeled button" onclick="window.location.reload()">
        <i class="icon refresh"></i>
        Check for new data
      </button>
      <div class="ui negative message" id="ohno" style="display:none;">
        <div class="header">
          Uh oh...
        </div>
        <p>Something went wrong while retrieving the data for this event.</p>
        <h4>You will be able to review data once you start scouting</h6>
      </div>
    </div>
  </div>
  <div class="sixteen wide column" ng-if="entries.length > 0">
    <div class="ui segment" style="overflow-x: scroll">
      <table class="ui collapsing celled selectable sortable table">
        <thead ng-init="$('thead').popup();" data-content="Click on a column header to sort.">
          <tr>
            <th ng-repeat="header in tableheader">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, value) in tabledata" ng-click="moredetails(key)">
            <td>{{ key }}</td>
            <td ng-repeat="header in tableheader" ng-if="header!=idname">{{ value[header] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
