<div class="ui page grid">
  <div class="sixteen wide column">
    <div class="ui segment">
      <h1 class="ui header">
        {{ template.title }}
        <div class="sub header">{{ event.name }} - {{ event.scoutingteam }}</div>
        <div class="sub header">Scouted by: {{ scout }}</div>
      </h1>
      <p>{{ template.description }}</p>
      <button class="ui positive button" ng-click="save()">Submit</button><button class="ui negative button" ng-click="reset()">Reset</button>
      <div class="ui negative message" id="ohno" style="display:none;">
        <div class="header">
          Uh oh...
        </div>
        <p>Something went wrong while saving this event...</p>
      </div>
    </div>
  </div>
  <div class="four wide column" ng-repeat="component in template.components">
    <div ng-switch="component.type">
      <div class='ui card' ng-switch-when="0">
        <div class="content">
          <div class="header">{{ component.name }}</div>
          <div class="description ui fluid input" style="text-align: center">
            <input type="text" id="{{ component.$$hashKey }}" placeholder="{{ component.name }}">
          </div>
        </div>
      </div>
      <div class='ui card' ng-switch-when="1">
        <div class="content">
          <div class="header">{{ component.name }}</div>
          <div class="description" style="text-align: center">
            <div class="three ui buttons">
              <button class="ui negative button" ng-click="decrement(component);">-</button>
              <button class="ui disabled button" id="{{ component.$$hashKey }}">{{ component.value }}</button>
              <button class="ui positive button" ng-click="increment(component);">+</button>
            </div>
          </div>
        </div>
      </div>
      <div class='ui card' ng-switch-when="2">
        <div class="content">
          <div class="description">
            <div class="field">
              <div class="ui checkbox">
                <input type="checkbox" name="example" id="{{ component.$$hashKey }}">
                <label>{{ component.name }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='ui card' ng-switch-when="3">
        <div class="content">
          <div class="header">{{ component.name }}</div>
          <div class="description" style="text-align: center">
            <div class="ui massive star rating" data-max-rating="{{ component.max }}" ng-init="$('.ui.rating').rating();" id="{{ component.$$hashKey }}"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
